@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Poppins', sans-serif; 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
/*navbar css*/
.navbar {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  
}

.transpirent {
  background-color: rgba(19, 75, 124, 0);
}

.nav-sticker {
  background-color: rgba(44, 43, 43, 0.274);
  padding: 15px;
  border-radius: 30px;
}


/*  Page Not found CSS  */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.fillFull {
  align-items: right;
}